@model List<Animal>

@{
}

<style>

    #animals-div {
        max-width: 600px;
        margin: auto;
    }

</style>

<div id="animals-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Breed</th>
                <th scope="col">Type</th>
                <th scope="col">Born Date</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null) {
                @foreach (Animal animal in Model)
                {
                    <tr>
                        <th scope="row">@animal.id</th>
                        <td>@animal.name</td>
                        <td>@animal.breed</td>
                        <td>@animal.fkAnimalType</td>
                        <td>@animal.bornDate</td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <h5>@ViewBag.LuckyAnimalMessage</h5>

    @await Component.InvokeAsync("AnimalsTypeInteractive")
</div>